<form class="mt-3" [formGroup]="fechaForm"  (ngSubmit)="getTurnosPosibles()" >
  <div class="mb-3">
    <div class="card col-lg-12">
      <div class="card-body text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="card bg-light shadow">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../../../../assets/muser-dr-512.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="card-body col-md-9">
                    <h5 class="card-title">{{professional.nombre}} {{professional.apellido}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card bg-light shadow">
                <div class="card-body">

                  <div *ngIf="co==1" class="container d-flex justify-content-center align-items-center">
                    <div class="card ">
                      <div class="card-body text-center table-responsive">
                        <table class="table" style="display: flex; justify-content: center; align-items: center;">
                          <thead>
                          <tr>
                            <th scope="col">Horarios Disponibles</th>
                          </tr>
                          <tr>
                            <span>{{ this.dayName }}, {{ this.monthName }} {{ this.dayNumber }} </span>
                          </tr>
                          </thead>
                          <tbody >
                          <div>
                            <table *ngIf="this.token">
                              <ng-container *ngFor="let group of turnos; let i = index">
                                <tr>
                                  <td *ngFor="let t of turnos.slice(i * 4, (i + 1) * 4)" style="margin: 10px 0; ">
                             <span>
                              <button (click)="createTurno(t.hora)"
                                      class="btn btn-info"
                                      style="min-width: 68.33px;"
                                      [disabled]="t.busy">
                                {{ decimalAHora(t.hora) }}
                              </button>
                             </span>
                                  </td>
                                </tr>
                              </ng-container>
                            </table>
                          </div>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-2">
            <input type="date" formControlName="fecha" class="form-control" placeholder="Fecha"/>
          </div>
          <div class="col-2">
            <select  class="selectpicker" (change)="update({e : $event})">
              <option></option>
              <option  *ngFor="let os of listOs" data-subtext="Rep California" [value]="os._id" >{{os.nombre}}</option>
            </select>
          </div>
          <div class="col-2">
            <select  class="selectpicker" (change)="updatePrac({e : $event})">
              <option></option>
              <option  *ngFor="let p of listPrac" data-subtext="Rep California" [value]="p._id" >{{p.nombre}}</option>
            </select>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-center">

            <button type="submit" (click)="co=1; this.assignValues(this.fechaForm.get('fecha')?.value)" [disabled]="fechaForm.invalid" class="btn btn-info btn-lg float-end" > Buscar Turno</button>


          </div>

        </div>
      </div>
    </div>
  </div>
</form>

