<div class="container-md">
  <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
    <mdb-carousel-item>
      <img
        src="/assets/img/img1.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Buen trato</h5>
        <p>Clientes satisfechos.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/img/img2.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Equipamiento de ultima generacion</h5>
        <p>Contamos con lo ultimo en tecnologia para diagnosticar a nuestros pacientes</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/img/img3.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Los mejores profesionales</h5>
        <p>Nuestros profesionales son excelentes</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<footer class="text-center text-lg-start" style="background-color: #1B4D3E">

  <div class="container p-4">

    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: white">Nosotros</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-white">Clinica de Ojos</a>
          </li>
          <li>
            <a class="text-white">Zeballos 1341, Rosario.</a>
          </li>
          <li>
            <a class="text-white">Telefono:341587123 </a>
          </li>
          <li>
            <a class="text-white">Mail: clinicade@ojos.com.ar</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="card-title">Donde estamos:</h5>
        <div #mapContainer id="map"></div>
      </div>

    </div>

  </div>

</footer>




