<div class="container-md">
<div id="carroza" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="carroza" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="carroza" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="carroza" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/img1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Buen trato</h5>
        <p>Clientes satisfechos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/img/img2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Equipamiento de ultima generacion</h5>
        <p>Contamos con lo ultimo en tecnologia para diagnosticar a nuestros pacientes</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/img/img3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Los mejores profesionales</h5>
        <p>Nuestros profesionales son excelentes</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="carroza" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="carroza" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container-sm">
  <div class="card" style="width: 20rem;" >
    <h5 class="card-title">Donde estamos:</h5>
    <div #mapContainer id="map"></div>
  </div>
</div>



